body {
    background-color: #000; /* Establecer el color de fondo  */
    font-family: 'Oswald', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.card-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 57%;
    left: 45%;
    transform: translate(-50%, -50%);
    
    
  }
  .header-card {
    max-width: 1500px;
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f7f5f5;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 0 auto;
    width: 900px !important;
    
}
.header-card .card-body,
.header-card .list-group-item,
.header-card .card-link {
    background-color: rgba(255, 255, 255, 0.1); 
}
.custom-text, .custom-title, .item-text{
    color: #e1e1e1;

}
.header-card .card-body a.card-link,
.header-card .card-body a.card-link:hover {
    display: none; }

.header-card .rating {
    font-size: 1.25rem; 
    color: #e1e1e1; }

.header-card .card-title {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-top: 1rem; 
}

.header-card .card-body p.margen-director {
    margin-bottom: 10px; 
}

header {
    background-size: 100% auto;
    background-position: center top 1px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    margin: 0 auto;
    width: 100vw;
    position: relative;
    
}

.header-card .card-body p.margen-director {
    text-align: justify;
}
.header-background {
    width: 100%;
    height: 70vh; 
    object-fit: cover;
    position: relative;
    z-index: -1; 
    opacity: 0.7; 
    margin: 0 auto;
}


/* Estilo para las tarjetas */
.card {
    width: 18rem;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #f7f5f5; 
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);  
    border-radius: 10px; 
}

/* Estilo para las imágenes dentro de las tarjetas */
.card .card-img-top {
    object-fit: cover; 
    height: 12rem; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

/* Estilo para el título de la tarjeta */
.card .card-title {
    font-size: 1.25rem; 
    font-weight: bold;
    margin-top: 1rem; 
}

/* Estilo para el texto de la tarjeta */
.card .card-text {
    font-size: 1rem; 
}

/* Estilo para el botón "Sinopsis" */
.card .btn-primary {
    background-color: #a2adb9; 
    color: #180404; 
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 1rem; 
}

.card .btn-primary:hover {
    background-color: #bc2828; 
}

.card-container{
    display: flex;
}

.actor-image {
    height: 300px; 
    width: 100%; 
    object-fit: cover
}
/* Estilo para la sección de comentarios */
.comments {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Estilo para cada comentario */
.comment {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.comment h4 {
    font-weight: bold;
}

.comment p {
    margin: 0;

}